 #titulo {
    padding-top: 5px;
    padding-bottom: 10px;
     font-family: 'Princess Sofia', cursive;
     font-size: 60px;
     text-align: center;
 }
 
 html,
 body {
     margin: 0;
     height: 100%;
     width: 100%;
 }


 #titulo {
     margin: 0;
     height: 10%;
     width: 100%;
     font-family: 'Princess Sofia', cursive;
     font-size: 60px;
     text-align: center;
 }
 
 #map {
     margin: 0;
     height: 80%;
     width: 100%;
 }
 
 #pie {
     height: 5%;
     width: 100%;
     font-family: 'Oswald', sans-serif;
     font-size: 14px;
     text-align: left;
 }
 
 .leaflet-container .leaflet-control-mouseposition {
     background-color: rgba(255, 255, 255, 0.7);
     box-shadow: 0 0 5px #bbb;
     padding: 0 5px;
     margin: 0;
     color: #BDB5B;
     font: 8px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
 }
